<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Diana Frank Development</title>
  <link rel="stylesheet" type="text/css" href="/assets/projects.css" />


</head>

<body>

<!-- @TODO change this to be responsive grid, opens modal with dynamic info -->
<!-- @TODO change fonts -->

<h1> projects </h1>

 <% @project.each do |project| %>
<div class="row">
<div class="six columns"><%= project.name %></div>
<div class="six columns"><img class="image_project" src= "<%= project.image %>" />
</div>
<%end%>
</div>


<!-- </div>
 -->

<div class="space">

</div>










       

  </body>
</html>
