ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
	text-align: center;	
}

a:hover{
	color: gray;
}



div.contact{
	width: 25%;
	float: left;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 30px;
}

 div.space{
  height: 300px;
 }

img.logo{
	width: 50%;
	/*height: inherit;*/
	margin-left: 25%;
	position: relative;
}

img.angel-logo{
	width: 33%;
	height: inherit;
	margin-left: 30%;
	position: relative;
	margin-bottom: -2px;
}