 h1,
 h3{
  margin-left: 3%;
 }


 .image_project{
 	float: left;
 	width: inherit;
 	height: 230px;
 	margin-right: 4%;
 	margin-left: 6%;
 	margin-top: 3%;
 	margin-bottom: 3%;
	border: black solid 2px;
 }

 div.wrapper{
  margin-right: 5%;
  margin-left: 5%;
 }


/*  iPhone 6  */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}	

/*to make it responsive for iPhone 6+*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

