<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Contact</title>
	<link rel="stylesheet" href="/assets/contact.css">
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
 	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700" rel="stylesheet">
</head>
<body>


<!-- @TODO make this responsive -->

<h1> Contact, connect or follow </h1>

<div class="contact">

<ul class="contact">
		<li>
			<img class="logo" src="/assets/gmaillogo.png"/>
			<a href="mailto:diana.frank22@gmail.com"><h3> Email</h3></a>
		</li>
		<li>
		<img class="logo" src="/assets/linkedin.png"/>
		<a href="linkedin.com/in/dianafrank"><h3> LinkedIn </h3></a>
	</li>
</ul>
</div>


<div class="contact">
<ul class="contact">
	<li>
		<img class="logo" src="/assets/devpost.jpg"/>
	 	<a href="http://devpost.com/dianafrank22"><h3> DevPost </h3></a>
	</li>
	<li>
		<img class="angel-logo" src="/assets/angellistlogo.png"/>
	 	<a href="https://angel.co/diana-frank"><h3> Angel List</h3></a>
	</li>
</ul>
</div>

<div class="contact">
<ul class="contact">
	<li>
		<img class="logo" src="/assets/twitterlogo.png"/>
	 	<a href="twitter.com/dianafrnk"><h3> Twitter </h3></a>
	 </li>
	 <li>
	 	<img class="logo" src="/assets/github.png"/><a href="https://github.com/dianafrank22"><h3> Github </h3></a>
	 </li>
</ul>

</div>

<div class="space">

</div>
<div class="space">

</div>
</body>
</html>
