<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Resume</title>
	<link rel="stylesheet" href="/assets/resume.css">
</head>
<body>


<img class="resume" src="../assets/dianafrankresume.png"/>


<a class="download" href="../assets/resume.pdf" download="Diana Frank Resume"><button class="download">Download Resume</button></a> 
	
</body>
</html>
